@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Alexr03.Common.Web.Helpers
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@using TCAdminOAuth
@using TCAdminOAuth.Models
@model TCAdminOAuth.Configurations.OAuthProviderConfiguration

@{
    Layout = this.GetTemplateFile("Shared/Main.cshtml", true);
    var id = int.Parse(Url.RequestContext.RouteData.Values["id"].ToString());
    var provider = new OAuthProvider(id);
}
@section sidebar{
    @Html.Action("_DefaultPageIcons", "Base", new { module = Globals.ModuleId, page = 3 })
}

@using (Ajax.BeginForm("Edit", "OAuth", new AjaxOptions {OnSuccess = "TCAdmin.Ajax.HandleAjaxResult", OnFailure = "Alexr03.Common.HandleAjaxFailure"}))
{
    @Html.AntiForgeryToken()
    <div class="primary-toolbar">
        @(Html.Kendo().ToolBar()
            .Name("generalToolBar".Prefix(provider.Id.ToString()))
            .Items(items =>
            {
                items.Add().Template(this.GetToolbarButton(Resources.Global.Save, "save"));
                items.Add().Type(CommandType.Button).Icon("cancel").Text(Resources.Global.Cancel).Click("TCAdmin.Ajax.CancelClicked");
            }))
    </div>

    <div class="primary-content">
        <fieldset class="fieldset-form auto-focus">
            @Html.ValidationSummary(true)
            @Html.Hidden("id", id)
            <h2>@provider.Name Settings</h2>
            <ul>
                <li>
                    <dl>
                        <dt>@Html.LabelFor(m => m.Enabled)</dt>
                        <dd>@Html.Kendo().SwitchFor(m => m.Enabled)@Html.ValidationMessageFor(m => m.Enabled)@Html.TooltipFor(m => m.Enabled)</dd>
                        <dt>@Html.LabelFor(m => m.ClientId)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.ClientId)@Html.ValidationMessageFor(m => m.ClientId)@Html.TooltipFor(m => m.ClientId)</dd>
                        <dt>@Html.LabelFor(m => m.ClientSecret)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.ClientSecret).HtmlAttributes(new {type = "password"})@Html.ValidationMessageFor(m => m.ClientSecret)@Html.TooltipFor(m => m.ClientSecret)</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>@Html.LabelFor(m => m.AllowEmailAuth)</dt>
                        <dd>@Html.Kendo().SwitchFor(m => m.AllowEmailAuth)@Html.ValidationMessageFor(m => m.AllowEmailAuth)@Html.TooltipFor(m => m.AllowEmailAuth)</dd>
                    </dl>
                </li>
            </ul>
        </fieldset>
    </div>
}